@media screen and (max-width: 991px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .main-nav{
        overflow: initial;
    }
    .nav-links{
        position: absolute;
        background-color: white;
        left: -100%;
        top: 0;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }
    .nav-links.active{
        left: 0;
    }
 .nav-links ul{
    flex-direction: column;
 }
    .main-nav{
        overflow: initial;
    }
    h3{
        font-size: 1.2rem;
    }
    .header-right{
        height: 100%;
        width: 100%;
    }
    .header-section{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
    }
}
@media screen and (max-width:767px){
    .primary-button{
        width: 100%;
        text-align: center;
    }
    .header-section{
        flex-direction: column;
    }
    .header-right{
        height: 100%;
        width: 100%;
    }
    .header-left{
        width: 100%;
        text-align: center;
    }
    .features-card{
       min-width: calc(50%-10px);
    }
    .university{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
    }
    .h1{
        font-size: 2rem;
    }
    .h2{
        font-size: 1.5rem;
    }
    .h3{
        font-size: 0.75rem;
    }
    .small-boxup{
        display: none;
    }
}
@media screen and (max-width:425px){
    .primary-button{
        width: 100%;
        text-align: center;
    }
    .header-section{
        flex-direction: column-reverse;
    }
    .header-right{
        display: none;
    }
    .header-left{
        width: 100%;
        text-align: center;
        align-items: center;
        height: 100%;
    }
    .features-card{
      /* min-width: calc(50%-10px);*/
    }
    .university{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
    }
    .play{
        display: none;
    }
    .h1{
        font-size: 2rem;
    }
    .h2{
        font-size: 1.5rem;
    }
    .h3{
        font-size: 0.75rem;
    }
    .small-boxup{
       display: none;
    }
}
@media  screen and (max-width:230px) {
    .small-boxup{
        display: none;
    }
    @media screen and (max-width:305px){
        .primary-button{
            width: 100%;
            text-align: center;
        }
        .header-section{
            flex-direction: column-reverse;
        }
        .header-right{
            display: none;
        }
        .header-left{
            width: 100%;
            text-align: center;
        }
        .features-card{
           min-width: calc(50%-10px);
        }
        .university{
            flex-direction: column;
        }
        .navbar{
            width: 100%;
        }
        .h1{
            font-size: 2rem;
        }
        .h2{
            font-size: 1.5rem;
        }
        .h3{
            font-size: 0.75rem;
        }
        .small-boxup{
            display: none;
        }
    }
}
